{require_min_otp_vsn, "R14B03"}.

{erl_opts,
 [
  {src_dirs, ["src",
              "modules",
%              "priv/sites",
              "priv/modules",
              "priv/extensions"]},
  {i, "src/dbdrivers/postgresql/include"},
  {outdir, "ebin"},
  {parse_transform, lager_transform},
  debug_info
 ]}.

{deps,
 [
  {lager, "1.2.1",
   {git, "git://github.com/basho/lager.git", {tag, "1.2.1"}}},
  {iconv, ".*",
   {git, "git://github.com/Vagabond/erlang-iconv.git", {tag, "HEAD"}}},
  mochiweb,
  {z_stdlib, ".*",
   {git, "git://github.com/zotonic/z_stdlib.git", {tag, "HEAD"}}},
  {webzmachine, ".*",
   {git, "git://github.com/zotonic/webzmachine.git", {tag, "HEAD"}}},
  {gen_smtp, ".*",
   {git, "git://github.com/zotonic/gen_smtp.git", {tag, "HEAD"}}},
  {ua_classifier, ".*",
   {git, "git://github.com/zotonic/ua_classifier.git", {tag, "HEAD"}}},
  {dh_date, ".*",
   {git, "git://github.com/zotonic/dh_date.git", {tag, "HEAD"}}},
  {mimetypes, ".*",
   {git, "git://github.com/zotonic/mimetypes.git", {tag, "HEAD"}}},
  {bert, ".*",
   {git, "git://github.com/zotonic/bert.erl.git", {tag, "HEAD"}}},
  {oauth, "1.0.2",
   {git, "git://github.com/tim/erlang-oauth.git", {tag, "v1.0.2"}}}
  ]}.

